dataset_CV.csv
code_BlindCV_Spacy_C.ipynb
code_BlindCV_Spacy_L.ipynb
code_BlindCV_Test_modele.ipynb
data_CV.csv
CV_projet_txt/
code_BlindCV_Labelisation.ipynb
data_CV_label.xls
dataset_CV_labelise.csv
05-Decision_trees_Random_forest_template (3).ipynb
Projet_BlindCV
BlindCV_Résultats.xlsx
Part_8_Code_BlindCV_Model_Decion_Tree.ipynb
Projet_BlindCV (untracked content)
~$BlindCV_Résultats.xlsx
Part_11_Code_BlindCV_Model_Naives_Bayes.ipynb
dataset_CV_labelise_features1_100.csv
dataset_CV_labelise_features2_100.csv