dataset_CV.csv
code_BlindCV_Spacy_C.ipynb
code_BlindCV_Spacy_L.ipynb
code_BlindCV_Test_modele.ipynb
data_CV.csv
CV_projet_txt/
code_BlindCV_Labelisation.ipynb
data_CV_label.xls
dataset_CV_labelise.csv
05-Decision_trees_Random_forest_template (3).ipynb
Projet_BlindCV